# Test dependencies for DKN Cloud for HASS.
# These are only installed in CI or local dev when running pytest.
pytest==8.3.*
pytest-asyncio==1.2.*
pytest-homeassistant-custom-component==0.13.*
aiohttp
